#home{
    background-image: url("./../../assets/images/Background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
}
